@font-face {
  font-family: 'Poppins';
  src: local('Poppins'),
    url(../fonts/Poppins/Poppins-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: local('Poppins-Bold'),
    url(../fonts/Poppins/Poppins-Bold.ttf) format('truetype');
}

body {
  margin: 0;
  background-color: #d1d8e5;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
